{% extends "layout.html" %}

{% block content %}
    <section class="section">
        <form action="map" method="post">
            <div class="form-group">
                <select name="Select IoT Device" method="GET" action="/" style="width: 150px;">
                    {% for key in data_keys %}
                        <option value="{{key}}" selected="SELECTED">{{key}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input name="startdate" method="GET" type="date" style="width:150px;">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Refresh</button>
            </div>

        </form>

    </section>>
    <section class="section">
        <div class="container">
            <iframe src="{{ url_for('static',filename='mapfolium.html') }}" width="800" height="600"></iframe>
        </div>
    </section>

{% endblock content %}