{% extends "layout.html" %}

{% block content %}
    <section class="section">
        <form action="map" method="post">
            <div class="form-group">
                <select name="Select IoT Device" method="GET" action="/" style="width: 150px;">
                    <option value="All">All</option>
                    {% for key in data_keys %}
                        <option value="{{key}}">{{key}}</option>
                    {% endfor %}
                    <option value="{{child}}" selected="selected">{{child}}</option>
                </select>
            </div>
            <div class="form-group">
                <input name="startdate" method="GET" type="date" style="width:150px;">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Reload</button>
            </div>

        </form>

    </section>>
    <section class="section">
        <div class="container">
            <iframe id="iframeid" src="{{ url_for('static',filename='mapfolium.html') }}" width="800" height="600"></iframe>
            <input type="button" id="btn" name="" value="Refresh">
            <script type="text/javascript">
                function reload() {
                    document.getElementById('iframeid').src += '';

                }
                btn.onclick = reload;
            </script>
        </div>

    </section>

{% endblock content %}